body {
  background: #221f1f;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  background: no-repeat #000;
  background-size: cover;
}

.bg-dark{
  background: #221f1f!important;
}

.posterimage{
  width: 100%;
}

#root{
  background-image: radial-gradient(circle at 20% 50%, rgba(11.76%, 15.29%, 17.25%, 0.98) 0%, rgba(11.76%, 15.29%, 17.25%, 0.88) 0%);
}

.moviebody{
  padding: 0;
  /* background: #221f1f;
  opacity: 0.7; */
}

.moviecontent, .imagecontent{
  padding: 0!important;
}

.headertext{
    color: aqua;
}

.results.transition.visible{
    height: 25vh!important;
    overflow-y: scroll!important;
}
